<div class="home d-flex justify-content-center align-items-center text-white">
  <div class="text-center">
    <img src="/images/avataaars.svg" alt="" class="mb-4 w-50" />

    <div class="text-center pt-4" style="color: white">
      <h2 class="text-uppercase mb-3 fs-1 fw-bolder">start Framework</h2>
      <div class="d-flex align-items-center justify-content-center mb-3">
        <div class="line me-3"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3"></div>
      </div>
    </div>
    <p>Graphic Artist - Web Designer - Illustrator</p>
  </div>
</div>
